////////
// UI //
////////

@import "on-screen-controls.less";

.ui-pane {
  @padding-lr: 12px;
  @padding-tb: 6px;

  padding-left:   @padding-lr;
  padding-right:  @padding-lr;
  padding-top:    @padding-tb;
  padding-bottom: @padding-tb;

  border-radius:  @ui-pane-border-radius;
  border-width:   3px;
  border-style:   solid;
  border-color:   @ui-pane-border-color;

  .gradient( @ui-pane-bg-bottom, @ui-pane-bg-bottom, @ui-pane-bg-top );

  color: @ui-pane-text-color;
  font-size: 14px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.ui-pane a {
  display: inline-block;
  border-bottom: dotted 2px #FFF;
  color: #fff;
  text-decoration: none;
}

.ui-pane a:hover {
  @color: rgba( 255, 255, 255, 0.85 );

  color:        @color;
  border-color: @color;
}

.ui-pane-container .ui-pane {
  margin-bottom: 20px;
}

/////////
// Say //
/////////

.speech p {
  visibility: hidden;
}

.text-character {
  // display: inline-block;
  // .scale( 1 );
  // .transition( 0.05s, ease-in );
}

.hidden {
  visibility: hidden;
  // .scale( 1.5 );
  // .opacity( 0 );
}