///////////////
// Variables //
///////////////


// Font Stuff
///////////////////////////////////////////////////
@font-family-base:    'Press Start 2P';
@font-size-base:      1.3em;
@line-height-base:    1.1em;

// UI Panes
///////////////////////////////////////////////////
@ui-pane-bg-bottom:         #356DD1;
@ui-pane-bg-top:            #5A95FF;
@ui-pane-border-color:      #f1f1f1;
@ui-pane-border-radius:     6px;
@ui-pane-text-color:        #fff;

// Tilesets
//////////////////////////////////////////////////
@tileset-base-url:      '/assets/tiles';