.world.edit-mode[data-pack="ground"] .tile:hover,
.tile.ground {
  background-image: url('tileset.bmp');
}

.world.edit-mode[data-tile="ground-grass-1"] .tile:hover,
.tile.ground.ground-grass-1 {
  background-position-x: -280px;
  background-position-y: -81px;
}

.world.edit-mode[data-tile="ground-dirt-patch-top-right"] .tile:hover,
.tile.ground.ground-dirt-patch-top-right {
  background-position-x: -200px;
  background-position-y: -81px;
}

.world.edit-mode[data-tile="ground-dirt-patch-top"] .tile:hover,
.tile.ground.ground-dirt-patch-top {
  background-position-x: -120px;
  background-position-y: -81px;
}

.world.edit-mode[data-tile="ground-dirt-patch-top-left"] .tile:hover,
.tile.ground.ground-dirt-patch-top-left {
  background-position-x: -40px;
  background-position-y: -81px;
}

.world.edit-mode[data-tile="ground-dirt-patch-middle-right"] .tile:hover,
.tile.ground.ground-dirt-patch-middle-right {
  background-position-x: -200px;
  background-position-y: -161px;
}

.world.edit-mode[data-tile="ground-dirt-patch-middle"] .tile:hover,
.tile.ground.ground-dirt-patch-middle {
  background-position-x: -120px;
  background-position-y: -161px;
}

.world.edit-mode[data-tile="ground-dirt-patch-middle-left"] .tile:hover,
.tile.ground.ground-dirt-patch-middle-left {
  background-position-x: -40px;
  background-position-y: -161px;
}

.world.edit-mode[data-tile="ground-dirt-patch-bottom-right"] .tile:hover,
.tile.ground.ground-dirt-patch-bottom-right {
  background-position-x: -200px;
  background-position-y: -241px;
}

.world.edit-mode[data-tile="ground-dirt-patch-bottom"] .tile:hover,
.tile.ground.ground-dirt-patch-bottom {
  background-position-x: -120px;
  background-position-y: -241px;
}

.world.edit-mode[data-tile="ground-dirt-patch-bottom-left"] .tile:hover,
.tile.ground.ground-dirt-patch-bottom-left {
  background-position-x: -40px;
  background-position-y: -241px;
}

.world.edit-mode[data-tile="ground-dirt-patch-corner-top-left"] .tile:hover,
.tile.ground.ground-dirt-patch-corner-top-left {
  background-position-x: -280px;
  background-position-y: -161px;
}

.world.edit-mode[data-tile="ground-dirt-patch-corner-top-right"] .tile:hover,
.tile.ground.ground-dirt-patch-corner-top-right {
  background-position-x: -360px;
  background-position-y: -161px;
}

.world.edit-mode[data-tile="ground-dirt-patch-corner-bottom-left"] .tile:hover,
.tile.ground.ground-dirt-patch-corner-bottom-left {
  background-position-x: -280px;
  background-position-y: -241px;
}

.world.edit-mode[data-tile="ground-dirt-patch-corner-bottom-right"] .tile:hover,
.tile.ground.ground-dirt-patch-corner-bottom-right {
  background-position-x: -360px;
  background-position-y: -241px;
}